{% extends 'base.html' %}

{% block title %} seja bem vindo{% endblock %}

{% block main %}

    <div class="row">

        <div class="col-md-8">
            <h1>Seja bem vindo!</h1>
            <a href="{% url 'person_list' %}" class="btn btn-light">Clientes</a>
             <a href="{% url 'person_new' %}" class="btn btn-light">Novo Cliente</a>
        </div>
        <div class="col-md-4">
            {% if user.is_authenticated %}

                <span>Olá {{ user.username }}</span>
                <a href="{% url 'logout' %}" class="btn btn-link">Sair</a>

            {% else %}
                <a href="{% url 'login' %}" class="btn btn-info">Login</a>
            {% endif %}
        </div>
        <!--<div class="col-sm">-->

        <!--</div>-->

    </div>

{% endblock %}

{% block footer %}
    <footer class="footer">
        <div class="container">
            <span class="text-muted">Desenvolvimento web com Django 2.x</span>
        </div>
    </footer>
{% endblock %}