{% extends 'base.html' %}

{% block main %}
<h1>Person Details</h1>
Nome: {{ object.first_name }}<br>
Sobrenome: {{ object.last_name }}<br>
Documento: {{ object.doc }}<br>

<h1>Vendas</h1>
{% for venda in vendas %}
    <p>Venda id: {{ venda.id }}</p>
    <h3>Lista de produtos</h3>
    <ul>
        {% for produto in venda.produtos.all %}
            <li>{{ produto.id }} - {{ produto.descricao }}</li>
        {% endfor %}
    </ul>
{% endfor %}

<p>Data: {{ now|date }}</p>

<div>
    <a href="{% url 'person_updateCBV' object.id %}">Update</a>
    <a href="{% url 'person_deleteCBV' object.id %}">Delete</a>
</div>
{% endblock %}