.trash-item{
    float: right;
}

#form-busc{
    margin-top: 8px;
    margin-bottom: 8px;
    float: right;
}

.busc
{
    margin: inherit;
    padding: 2px; 
    display: grid;
    height: 40px;
    /* padding-bottom: 2px;
    float: right; */
}
